<script type="text/template" id="rangeTemplate">
    <div class="outer">
        <div class="inner">
            F
        </div>
        <div class="content"></div>
        <div class="show-all">
            <a href="javascript:void(0)">show all...</a>
        </div>
    </div>
</script>



<div class="jumbotron nopadding">
    <p class="lead">Please type url with parameters in the address bar.</p>
    <p class="lead">Example: http://localhost:30183/DefaultPage?from=aali&to=sharai </p>
</div>
<div class="row">
    <div class="" style="clear: both" id="wordsContainer">
    </div>
</div>
